.h1{
    text-align: center;
}
.box{
justify-content: end;
}
.allcart{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 7px;
    padding: 4px;
}
.text{
    text-align: left;
    border: 1px solid red;
}
.left:hover{
color: #805AD5;
cursor: pointer;
}
.Boxstyle{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;  
    border-radius: 10px;
    padding: 5px;
}